<div class="block__footer">
    <div class="block__footer__text">
        <span>
            <%= data.footer_text %>
        </span>
    </div>
    <form method="post" action="subscriberform.php">
        <input type="email" name="" id="">
        <input type="submit">
    </form>
    <span>By signing up I agree to the terms of the <u>Privacy Policy</u></span>
    <span>2014-2018 TASTYCOOKERY.COM</span>
</div>