<div class="block__banner">
    <div class="block__banner__logo">
        
        <div class="block__banner__logo__name">
            <span class="block__banner__logo__name__tastycookery">TastyCookery</span>
            <br/>
            <span class="block__banner__logo__name__cookforreal">Cook for real</span>
        </div>
        
    </div>
    
    <p class="block__banner__text1">Домашние<br/> простые рецепты</p>
    
    <p class="block__banner__text2">Собирайте рецепты в recipe box</p>
    <div class="block__banner__bg">
        <button class="block__banner__bg__btn"><span>Присоединиться к сообществу</span></button>
    </div>
</div>