<div class="block__sinup">
    <div>
        <span>
            <%= data.mailing_text %>
        </span>
    </div>
    <button><span>Стать членом семьи Tastycookery</span><span>БЕСПЛАТНО</span></button>
</div>