@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Light.eot');
    src: 
        url('../fonts/circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Light.woff2') format('woff2'),
        url('../fonts/circe/Circe-Light.woff') format('woff'),
        url('../fonts/circe/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Extra';
    src: url('../fonts/circe/Circe-ExtraBold.eot');
    src: url('../fonts/circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/circe/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/circe/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Thin.eot');
    src:
        url('../fonts/circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Thin.woff2') format('woff2'),
        url('../fonts/circe/Circe-Thin.woff') format('woff'),
        url('../fonts/circe/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Regular.eot');
    src:
        url('../fonts/circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Regular.woff2') format('woff2'),
        url('../fonts/circe/Circe-Regular.woff') format('woff'),
        url('../fonts/circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe/Circe-Bold.eot');
    src:
        url('../fonts/circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe/Circe-Bold.woff2') format('woff2'),
        url('../fonts/circe/Circe-Bold.woff') format('woff'),
        url('../fonts/circe/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Handbook Pro';
    src: url('../fonts/PFHandbookPro/PFHandbookPro-Medium.eot');
    src: url('../fonts/PFHandbookPro/PFHandbookPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFHandbookPro/PFHandbookPro-Medium.woff2') format('woff2'),
        url('../fonts/PFHandbookPro/PFHandbookPro-Medium.woff') format('woff'),
        url('../fonts/PFHandbookPro/PFHandbookPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin:0;
}
.block {
    &__banner {
        background-image: url("../img/header/bg_banner.png");
        width: 100%;
        height: 600px;
        z-index: 4;          
        &__logo { 
            position: absolute;
            top: 60px;
            left: 120px;          
            &__name {
                &::before {
                    content: url('../img/header/key.png');
                }
                &__cookforreal {
                    font-size: 13.1px;
                    letter-spacing: 2px;
                    font-family: "Circe";
                    color: rgb(212, 212, 212);
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: left;
                    -moz-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                    -webkit-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                    -ms-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                    position: relative;
                    left: 40px;
                    top: -27px;
                    z-index: 65;                      
                }
                &__tastycookery {
                  font-size: 26px;
                  font-family: "PF Handbook Pro";
                  color: rgb(255, 255, 255);
                  line-height: 1.2;
                  text-align: left;
                  -moz-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                  -webkit-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                  -ms-transform: matrix( 1.46761741546534,0,0,1.46572467562349,0,0);
                  position: relative;
                  top: -28px;
                  z-index: 64;
                }
            }
              
        }
        &__text1 {
            font-size: 22px;
            font-family: "Circe";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            -moz-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            -webkit-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            -ms-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            position: absolute;
            left: 293.294px;
            top: 221.381px;
            z-index: 25;
            margin: 0;              
        }
        &__text2 {
            font-size: 10px;
            font-family: "Circe";
            color: rgb(255, 255, 255);
            line-height: 1.2;
            -moz-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            -webkit-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            -ms-transform: matrix( 2.44467694477211,0,0,2.44467694477211,0,0);
            position: absolute;
            left: 242px;
            top: 338.364px;
            z-index: 27;
            margin: 0;
        }
        &__bg {
            background-image: url("../img/header/bg_red_rectangle.png");
            position: absolute;
            left: 45px;
            top: 324px;
            width: 520px;
            height: 210px;
            z-index: 68;
            &__btn {
                border-radius: 10px;
                background-image: -moz-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
                background-image: -webkit-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
                background-image: -ms-linear-gradient( 27deg, rgb(18,188,130) 0%, rgb(191,223,44) 100%);
                position: relative;
                top: 70px;
                left: 90px;
                width: 330px;
                height: 90px;
                z-index: 70;
                border: none;
                & span {
                    display: block;
                    width: 200px;
                    margin-left: 50px;
                    font-size: 20px;
                    font-family: "Circe";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    text-transform: uppercase;
                    line-height: 1.2;
                    text-align: center;
                }
            }
        }
    }
    &__article {
        &__task {
            display: flex;
            flex-direction: row;
        }
        &__reason {
            display: flex;
        }
    }
    &__sinup {

    }
    &__review {
        &__content {
            display: flex;
        }
    }
    &__footer {
        
    }
}